header {
  text-align: center;
  color: green;
  font-family: cursive;
  font-size: x-large;
  border: 2px solid black;
}

.posters{
  border: 2px solid black;
  padding: 1px;
  box-shadow: 2px solid black;
}

h3 {
  color: blue;
}

ol {
 float: left;
}

ul {
 float: right;
}

.main  ul {
  color: black;
  width: 500px;
}

ul li {
  font-weight: normal;
  font-size: 20px;
}

.review {
  font-weight: bold;
  color: red;
}

body {
  background-color: beige;
}

.footer {
  clear: both;
  margin: 10px;
  border: 2px solid green;
  color: black;
  text-align: center;
  font-size: x-large;
  font-family: cursive;
  font-weight: bold;
  background-image: url(http://goo.gl/v1w9sY);
}

.reviewr {
  clear: both;
}

.nobullet {
  list-style: none outside none;
  font-weight: bold;

}
